<!DOCTYPE html>
<html>
<head>
  <title>BogAppLab</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1>Bog Adventure App</h1>
    <h4><%= link_to "Home", root_path %> | <%= link_to "Add Creature", new_creature_path %> | <a href="http://www.google">Google</a> | <%= link_to "Tags", tags_path %></h4>


  <hr>
  <%= yield %>

  </div>
  <br>
  <hr>

</body>
</html>
